﻿body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  position: relative;
}

.owl-wrapper-outer {
  border: 1px solid #777;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f3fff6;
}

.carousel-element {
  padding: 30px;
  text-align: center;
  border-right: 1px solid #777;
}

.owl-pagination {
  text-align: center; /* Выравниваем точки по-середине */
}

.owl-page {
  width: 10px;
  height: 10px;
  border: 1px solid #777;
  display: inline-block;
  background: white;
  margin: 10px;
  border-radius: 5px;
}
/* Активная точка */
.owl-page.active {
  background: #777;
}

.center-text {
  text-align: center;
}

.li_error {
  color: #ff1000;
}

.row {
  margin-top: 5%;
}

.input {
  width: 80%;
}

textarea {
  width: 80%;
}
